.admin-page{

min-height:100vh;

background:var(--bg);

color:var(--text);

transition:.3s;

}

.admin-container{

max-width:1400px;

margin:auto;

padding:25px;

display:flex;

flex-direction:column;

gap:28px;

}

/* Tablet */

@media(max-width:992px){

.admin-container{

padding:18px;

}

}

/* Mobile */

@media(max-width:768px){

.admin-container{

padding:15px;

gap:20px;

}

}