/* <-Nav Bar Comp -> */
.navbar {
  position: fixed; /* Navbar scroll nahi hoga */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 90px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.navbar-container {
  max-width: 1500px;
  height: 100%;

  margin: 0 auto;
  padding: 0 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-box {
  width: 40px;
  height: 40px;

  background: #0a2e8a;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
}

.logo-text {
  font-size: 28px;
  font-weight: 700;
  color: #0a2e8a;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-size: 18px;
}

.nav-links a:hover {
  color: #0a2e8a;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.notification-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.notification-dot {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}

.divider {
  width: 1px;
  height: 40px;
  background: #d1d5db;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-info {
  text-align: right;
}

.profile-info h3 {
  font-size: 18px;
  font-weight: 600;
}

.profile-info p {
  font-size: 12px;
  text-transform: uppercase;
  color: #6b7280;
  font-weight: 600;
}

.profile-icon {
  width: 46px;
  height: 46px;

  background: #e0e7ff;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #0a2e8a;
}



/* <-------------- Complete Profile Comp ------------------> */
.complete-profile {
  max-width: 1250px;
  margin: 40px auto;
  margin-top: 100px;
  padding: 70px;
  border-radius: 24px;
  background: linear-gradient(135deg, #0b2e99, #123db7);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.profile-left {
  flex: 1;
}

.badge {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);

  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.profile-title {
  margin-top: 35px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
}

.profile-desc {
  max-width: 800px;
  margin-top: 30px;

  font-size: 18px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
}

.profile-footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-btn {
  border: none;
  padding: 20px 40px;
  border-radius: 12px;

  background: white;
  color: #0b2e99;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.users {
  display: flex;
  margin-left: 10px;
}

.users span {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  color: white;
  background: #0b2e99;
  border-left: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 700;
  margin-left: -6px;
}

.profile-footer p {
  font-size: 15px;
  font-weight: 500;
}

.profile-right {
  width: 350px;
  padding: 40px;
  border-radius: 30px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.completion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completion-header h3 {
  font-size: 16px;
  letter-spacing: 2px;
}

.completion-header span {
  font-size: 30px;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 16px;
  margin: 30px 0;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.progress-fill {
  width: 33%;
  height: 100%;
  border-radius: 50px;
  background: white;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.step {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.completed .circle {
  border-color: #22c55e;
  color: #22c55e;
}

.step p {
  font-size: 16px;
}

/* <---------------- Count Schemes Comp ----------------> */

.count-schemes {
  max-width: 1250px;
  margin: 40px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.scheme-card {
  background: white;
  border: 1px solid #d8dce8;
  border-radius: 14px;

  padding: 30px;
  height: 200px;
  font-size: 16px;

  transition: all 0.3s ease;
}

.scheme-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.icon-box {
  width: 30px;
  height: 30px;

  border-radius: 3px;
  background: #dfe4ff;
  color: #0039a6;

  display: flex;
  align-items: center;
  justify-content: center;
}


.scheme-card h2 {
  margin-top: 12px;

  color: #0039a6;
  font-size: 40px;
  font-weight: 500;
}


/* <--------------- Recommended Schemes Comp --------------> */
.recommended {
  max-width: 1400px;
  margin: 40px auto;
}

.recommended-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.recommended-title {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.recommended-title h2 {
  font-size: 30px;
  font-weight: 500;
  color: #111827;
}

.top-match {
  background: #1e40af;
  color: white;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 10px;
  font-weight: 600;
}

.see-all {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 8px;
  color: #0b3db8;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 3px;
  
}

.scheme-card {
  background: white;
  border-radius: 22px;
  border-left: 6px solid #0b3db8;
  padding: 35px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.scheme-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #111827;
}

.scheme-card p {
  font-size: 15px;
  color: #4b5563;
  line-height: 1.6;
}

.scheme-tags {
  display: flex;
  gap: 16px;
  margin-top: 25px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #f3f4f6;
  color: #0b3db8;

  padding: 12px 18px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.details-btn {
  width: 100%;
  margin-top: 35px;

  background: #0b3db8;
  color: white;

  border: none;
  border-radius: 12px;

  padding: 10px;
  font-size: 24px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

/* <-------------- Ask TO HAqDAR Ai Comp ---------------> */

.recommended-layout {
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: start;
  padding: 40px 40px;
}

.ask-ai-card {
  border: 2px dashed #d3d9e8;
  border-radius: 24px;
  padding: 30px 20px;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ask-ai-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #f5f7ff;
  color: #3554b7;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
}

.ask-ai-card h3 {
  font-size: 25px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 16px;
}

.ask-ai-card p {
  color: #6b7280;
  font-size: 20px;
  line-height: 1.6;
  max-width: 320px;
  margin-bottom: 30px;
}

.chat-btn {
  border: none;
  background: #3554b7;
  color: white;

  padding: 16px 28px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

/* <- Count Schemes Comp -> */

